@if ( recipe$() | async; as recipe ) {
<fl-bg [bgImg]="recipe.imgUrl" [title]="recipe.title" />
<article class="center" >
  <section>
    <h3>Ingredients</h3>
    <ul>
      @for (ingredient of recipe.ingredients; track $index) {
      <li>
        <fl-ingredient [ingredient]="ingredient" />
      </li>
      }
    </ul>
  </section>
  <section>
    <h3>Instructions</h3>
    <ol>
      @for (instruction of recipe.instructions; track $index) {
      <li>
        {{ instruction }}
      </li>
      }
    </ol>
  </section>
  <section>
    <h3>Description</h3>
    <p>
      {{ recipe.description }}
    </p>
  </section>
</article>
}
