<section class="center">
  <h1><a routerLink="/">FoodLabs</a></h1>
  <nav>
    <ul class="unset">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/results">Recipes</a></li>
    </ul>
  </nav>
  <form (submit)="onSubmit($event)" [formGroup]="searchForm">
    <fieldset>
      <button type="submit">
        <mat-icon>search</mat-icon>
      </button>
      <label for="search">Search</label>
      <input formControlName="search" id="search" placeholder="Search" type="text"/>
      <button (click)="onClearSearch()" [class.inactive]="!isClearable()" type="button">
        <mat-icon>clear</mat-icon>
      </button>
    </fieldset>
  </form>
</section>

