@use "../globals.scss" as globals;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //min-height: ;

  header {
    border-top: globals.pxToRem(30) solid globals.$MAIN_COLOR;
    position: sticky;
    top: globals.pxToRem(-30);
    background: white;
    border-bottom: globals.pxToRem(1) solid rgba(0, 0, 0, 0.149);
    box-shadow: 0px globals.pxToRem(3) globals.pxToRem(20) globals.pxToRem(2)
      rgba(0, 0, 0, 0.1);
  }

  main {
    margin-bottom: globals.pxToRem(75);
    width: 100%;
  }

  footer {
    background: globals.$MAIN_COLOR;
    height: globals.pxToRem(75);
    button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        color: white;
        zoom: 3;
      }
    }
  }
}
